/* .formContainer {
  height: 70px;
  align-items: center;
  justify-content: center;
}

.textInput {
  font-size: 18px;
  width: 500px;
}

.submitButton {
  padding: 10px;
  border: 1px solid #e65c00;
  font-size: 18px; 
  background-color: #e65c00;
  color: white;
  font-weight: bold;
} */

.formContainer {
  /* height: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput {
  padding: 8px 12px;
  /* border: 1px solid #444; */
  font-size: 14px;
  width: 725px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  /* padding: 10px; */
  /* border: 1px solid #e65c00; */
  /* font-size: 18px;  */
  /* background-color: #e65c00; */
  /* color: white; */
  /* font-weight: bold; */
}